<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    th {
      text-align: left;
    }
    td {
      padding: 4px 10px;
    }

    time {
      font-style: italic;
      color: #666;
    }
  </style>
</head>
<body>

  <div class="container">{{ content | trim | safe }}</div>

</body>
</html>
